<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="64"/>
<entry key="0" type="xstring" value="Name"/>
<entry key="1" type="xstring" value="Age"/>
<entry key="2" type="xstring" value="Special"/>
<entry key="3" type="xstring" value="TNM_Acceleration"/>
<entry key="4" type="xstring" value="TNM_Aggression"/>
<entry key="5" type="xstring" value="TNM_Agility"/>
<entry key="6" type="xstring" value="TNM_Balance"/>
<entry key="7" type="xstring" value="TNM_Ball control"/>
<entry key="8" type="xstring" value="TNM_Composure"/>
<entry key="9" type="xstring" value="TNM_Crossing"/>
<entry key="10" type="xstring" value="TNM_Curve"/>
<entry key="11" type="xstring" value="TNM_Dribbling"/>
<entry key="12" type="xstring" value="TNM_Finishing"/>
<entry key="13" type="xstring" value="TNM_Free kick accuracy"/>
<entry key="14" type="xstring" value="TNM_GK diving"/>
<entry key="15" type="xstring" value="TNM_GK handling"/>
<entry key="16" type="xstring" value="TNM_GK kicking"/>
<entry key="17" type="xstring" value="TNM_GK positioning"/>
<entry key="18" type="xstring" value="TNM_GK reflexes"/>
<entry key="19" type="xstring" value="TNM_Heading accuracy"/>
<entry key="20" type="xstring" value="TNM_Interceptions"/>
<entry key="21" type="xstring" value="TNM_Jumping"/>
<entry key="22" type="xstring" value="TNM_Long passing"/>
<entry key="23" type="xstring" value="TNM_Long shots"/>
<entry key="24" type="xstring" value="TNM_Marking"/>
<entry key="25" type="xstring" value="TNM_Penalties"/>
<entry key="26" type="xstring" value="TNM_Positioning"/>
<entry key="27" type="xstring" value="TNM_Reactions"/>
<entry key="28" type="xstring" value="TNM_Short passing"/>
<entry key="29" type="xstring" value="TNM_Shot power"/>
<entry key="30" type="xstring" value="TNM_Sliding tackle"/>
<entry key="31" type="xstring" value="TNM_Sprint speed"/>
<entry key="32" type="xstring" value="TNM_Stamina"/>
<entry key="33" type="xstring" value="TNM_Standing tackle"/>
<entry key="34" type="xstring" value="TNM_Strength"/>
<entry key="35" type="xstring" value="TNM_Vision"/>
<entry key="36" type="xstring" value="TNM_Volleys"/>
<entry key="37" type="xstring" value="CAM"/>
<entry key="38" type="xstring" value="CB"/>
<entry key="39" type="xstring" value="CDM"/>
<entry key="40" type="xstring" value="CF"/>
<entry key="41" type="xstring" value="CM"/>
<entry key="42" type="xstring" value="LAM"/>
<entry key="43" type="xstring" value="LB"/>
<entry key="44" type="xstring" value="LCB"/>
<entry key="45" type="xstring" value="LCM"/>
<entry key="46" type="xstring" value="LDM"/>
<entry key="47" type="xstring" value="LF"/>
<entry key="48" type="xstring" value="LM"/>
<entry key="49" type="xstring" value="LS"/>
<entry key="50" type="xstring" value="LW"/>
<entry key="51" type="xstring" value="LWB"/>
<entry key="52" type="xstring" value="RAM"/>
<entry key="53" type="xstring" value="RB"/>
<entry key="54" type="xstring" value="RCB"/>
<entry key="55" type="xstring" value="RCM"/>
<entry key="56" type="xstring" value="RDM"/>
<entry key="57" type="xstring" value="RF"/>
<entry key="58" type="xstring" value="RM"/>
<entry key="59" type="xstring" value="RS"/>
<entry key="60" type="xstring" value="RW"/>
<entry key="61" type="xstring" value="RWB"/>
<entry key="62" type="xstring" value="ST"/>
<entry key="63" type="xstring" value="Overall"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
</config>
</config>
</config>
<config key="missing_value_percentage_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_double"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="missing_value_percentage" type="xdouble" value="90.0"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.missingvaluecolfilter.MissingValueColumnFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Missing Value Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.5.2.v201802051350"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.5.2.v201802051426"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Missing Value Column Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 17981, Cols: 64"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="76c97fe0-3409-4fc7-ac27-c57ff9adc3d4"/>
</config>
</config>
